<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Character Sheet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
    p.label{
      font-size: 12px;
    }
    .container-box{
      border-style: solid;
      border-width: 2px;
      padding: 1%;
    }
    .header-holder {
      display:flex;
      flex-direction: row;
      flex-wrap:nowrap;
    }
    .header{
      flex-grow: 1;
    }
    .outer{
      display: flex;
      flex-direction: column;
      padding:0;
    }
    .row{
      display:flex;
      flex-wrap:nowrap;
    }
    .table{
      flex-grow: 1;
    }
    .body-container{
      display:flex;
      flex-direction:row;
      flex-wrap: nowrap;

    }
    .sidebar-container{
      display:flex;
      flex-direction:column;
      text-align: center;
    }
    .main-container{
      flex-grow: 8;
      text-align: center;
    }
    .ltr{
      display:flex;
      flex-direction: row;
    }
    .spell-subitem{
      text-align: center;
      flex-grow: 1;
    }
    .spell{
      display:flex;
      flex-direction: column;
      text-align: center
    }
    .spell-table{
      align-self: center;
    }
    table{
      width: 100%;
    }
    tr:nth-child(even) {
    background-color: #dddddd;
    }
    th{
      font-size: 12px;
    }
    td{
      font-size: 12px;
    }
    .abilities-container{
      display: flex;
      flex-direction: column;
      flex-grow: 2;
    }
    .ability{
      display: flex;
      flex-direction: row;
      vertical-align: middle;
      justify-content: space-between;
    }
    .ability-val{
      width:30%;
    }
    label{
      display: flex;
      flex-direction: row;
      vertical-align: middle;
      justify-content: space-between;
    }
    .ability-radio{
      vertical-align: middle;
    }
    .basic{
      margin-top:15px;
    }
    .small-num{
      width:40px;
    }
    .side {
      padding-bottom: 15px;
    }
    .three{
      margin-bottom: 15px;
    }
    </style>
</head>
<body>
  <!-- skills personality/bonds spells: name casting time range duration-->
    <!-- <p th:text="'Person name: ' + ${test} + '!'" /> -->
    <form method="post">
    <div class="header-holder">
      <div class="container-box header">
        <input class="basic" style="margin-top:10%;" type="text" name="characterName">
        <p class="label">Character Name</p>
      </div>
      <div class="container-box header outer">
        <div class="row">
          <div class="container-box table">


            <!-- <form class="basic"> -->
              <select name="class">
                  {{#each classes}}
                    <option value="{{this.name}}">{{this.name}}</option>
                  {{/each}}
              </select>
            <!-- </form> -->
            <p class="label">Class</p>
            <input class="basic small-num" type="text" name="level">
            <p class="label">Level</p>
          </div>
          <div class="container-box table">
            <select name="background">
                {{#each backgrounds}}
                    <option value="{{this.name}}">{{this.name}}</option>
                {{/each}}
            </select>
            <p class="label">Background</p>
          </div>
          <div class="container-box table">
            <input class="basic" type="text" name="playerName">
            <p class="label">Player Name</p>
          </div>
        </div>
        <div class="row">
          <div class="container-box table">
            <!-- <form class="basic"> -->
              <select name="race">
                 {{#each races}}
                    <option value="{{this.name}}">{{this.name}}</option>
                 {{/each}}
              </select>
            <!-- </form> -->
            <p class="label">Race</p>
          </div>
          <div class="container-box table">
            <!-- <form class="basic"> -->
              <select name="alignment">
                <option value="Lawful Good">Lawful Good</option>
                <option value="Neutral Good">Neutral Good</option>
                <option value="Chaotic Good">Chaotic Good</option>
                <option value="Lawful Neutral">Lawful Neutral</option>
                <option value="True Neutral">True Neutral</option>
                <option value="Chaotic Neutral">Chaotic Neutral</option>
                <option value="Lawful Evil">Lawful Evil</option>
                <option value="Neutral Evil">Neutral Evil</option>
                <option value="Chaotic Evil">Chaotic Evil</option>
              </select>
            <!-- </form> -->
            <p class="label">Alignment</p>
          </div>
          <div class="container-box table">
            <!-- <input class="basic small-num" type="text" name="experience"> -->
            <p class="label">Experience Points</p>
          </div>
        </div>
      </div>
    </div>

    <div class="body-container">
      <!-- <div class="sidebar-container">
        <div class="side container-box">
          <p class="label">Strength</p>
          <input class=" small-num" type="text" name="strength">
        </div>
        <div class="side container-box">
          <p class="label">Dexterity</p>
          <input class=" small-num" type="text" name="dexterity">
        </div>
        <div class="side container-box">
          <p class="label">Constitution</p>
          <input class=" small-num" type="text" name="constitution">
        </div>
        <div class="side container-box">
          <p class="label">Intelligence</p>
        <input class=" small-num" type="text" name="intelligence">
        </div>
        <div class="side container-box">
          <p class="label">Wisdom</p>
          <input class=" small-num" type="text" name="wisdom">
        </div>
        <div class="side container-box">
          <p class="label">Charisma</p>
          <input class=" small-num" type="text" name="charisma">
        </div>
      </div> -->
      <!-- <div class="abilities-container">
        <div class="ability container-box">
          <input class="ability-radio" type="checkbox" name="Acrobatics" value="level">
          <input class=" small-num" type="text" name="Acrobatics">
          <p class="ability-val label">Acrobatics</p>
        </div>
        <div class="ability container-box">
          <input class="ability-radio" type="checkbox" name="Animal Handling" value="level">
          <input class=" small-num" type="text" name="Animal Handling">
          <p class="ability-val label">Animal Handling</p>
        </div>
        <div class="ability container-box">
          <input class="ability-radio" type="checkbox" name="Arcana" value="level">
          <input class=" small-num" type="text" name="Arcana">
          <p class="ability-val label">Arcana</p>
        </div>
        <div class="ability container-box">
          <input class="ability-radio" type="checkbox" name="Athletics" value="level">
          <input class=" small-num" type="text" name="Athletics">
          <p class="ability-val label">Athletics</p>
        </div>
        <div class="ability container-box">
          <input class="ability-radio" type="checkbox" name="Deception" value="level">
          <input class=" small-num" type="text" name="Deception">
          <p class="ability-val label">Deception</p>
        </div>
        <div class="ability container-box">
          <input class="ability-radio" type="checkbox" name="History" value="level">
          <input class=" small-num" type="text" name="History">
          <p class="ability-val label">History</p>
        </div>
        <div class="ability container-box">
          <input class="ability-radio" type="checkbox" name="Insight" value="level">
          <input class=" small-num" type="text" name="Insight">
          <p class="ability-val label">Insight</p>
        </div>
        <div class="ability container-box">
          <input class="ability-radio" type="checkbox" name="Intimidation" value="level">
          <input class=" small-num" type="text" name="Intimidation">
          <p class="ability-val label">Intimidation</p>
        </div>
        <div class="ability container-box">
          <input class="ability-radio" type="checkbox" name="Investigation" value="level">
          <input class=" small-num" type="text" name="Investigation">
          <p class="ability-val label">Investigation</p>
        </div>
        <div class="ability container-box">
          <input class="ability-radio" type="checkbox" name="Medicine" value="level">
          <input class=" small-num" type="text" name="Medicine">
          <p class="ability-val label">Medicine</p>
        </div>
        <div class="ability container-box">
          <input class="ability-radio" type="checkbox" name="Nature" value="level">
          <input class=" small-num" type="text" name="Nature">
          <p class="ability-val label">Nature</p>
        </div>
        <div class="ability container-box">
          <input class="ability-radio" type="checkbox" name="Perception" value="level">
          <input class=" small-num" type="text" name="Perception">
          <p class="ability-val label">Perception</p>
        </div>
        <div class="ability container-box">
          <input class="ability-radio" type="checkbox" name="Performance" value="level">
          <input class=" small-num" type="text" name="Performance">
          <p class="ability-val label">Performance</p>
        </div>
        <div class="ability container-box">
          <input class="ability-radio" type="checkbox" name="Persuasion" value="level">
          <input class=" small-num" type="text" name="Persuasion">
          <p class="ability-val label">Persuasion</p>
        </div>
        <div class="ability container-box">
          <input class="ability-radio" type="checkbox" name="Religion" value="level">
          <input class=" small-num" type="text" name="Religion">
          <p class="ability-val label">Religion</p>
        </div>
        <div class="ability container-box">
          <input class="ability-radio" type="checkbox" name="Sleight of Hand" value="level">
          <input class=" small-num" type="text" name="Sleight of Hand">
          <p class="ability-val label">Sleight of Hand</p>
        </div>
        <div class="ability container-box">
          <input class="ability-radio" type="checkbox" name="Stealth" value="level">
          <input class=" small-num" type="text" name="Stealth">
          <p class="ability-val label">Stealth</p>
        </div>
        <div class="ability container-box">
          <input class="ability-radio" type="checkbox" name="Survival" value="level">
          <input class=" small-num" type="text" name="Survival">
          <p class="ability-val label">Survival</p>
        </div>
      </div> -->
      <div class="main-container">
        <div class="ltr">
          <div class="container-box table">
            <p class="label">Armor Class</p>
              <input class="three small-num" type="text" name="armorClass">
          </div>
          <div class="container-box table">
            <p class="label">Initiative</p>
            <input class="three small-num" type="text" name="initiative">
          </div>
          <div class="container-box table">
            <p class="label">Speed</p>
            <input class="three small-num" type="text" name="speed">
          </div>
        </div>
        <div class="container-box">
          <p class="label">Hit points</p>
          <input class="three small-num" type="text" name="hitPoints">
        </div>
        <div class="container-box">
          <h4 class="label">Items</h4> <p> hold ctrl/cmd for multiple items</p>
          <select style="height: 200px;" name="items" multiple>
              {{#each items}}
                <option style="font-size: 14px;" value="{{this.name}}"> {{this.name}} </option>
              {{/each}}
          </select>
        </div>
        <div class="container-box">
            <h4 class="label">Spells</h4> <p> hold ctrl/cmd for multiple items</p>
            <select style="height: 200px;" name="spells" multiple>
                {{#each spells}}
                  <option style="font-size: 14px;" value="{{this.name}}"> {{this.name}} </option>
                {{/each}}
            </select>

        </div>
        <div class="container-box">
            <h4 class="label">Feats</h4> <p> hold ctrl/cmd for multiple items</p>
            <select style="height: 200px;" name="feats" multiple>
                {{#each feats}}
                  <option style="font-size: 14px;" value="{{this.name}}"> {{this.name}} </option>
                {{/each}}
            </select>
        </div>

      </div>
    </div>
    <input type="submit" value="Submit">
    </form>
</body>
</html>
